.book {
  padding: 24px;
}

.book__wrapper {
  display: flex;
}

.book__imageWrapper {
  margin-right: 16px;
}

.book__info {
  padding-left: 16px;
}

.book__image {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
}

.book__title.MuiTypography-root {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 8px;
}

.book__description.MuiTypography-root {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
}

.book__property.MuiTypography-root {
  font-size: 16px;
  font-weight: 500;
  margin-top: 8px;
}

.book_button.MuiButtonBase-root {
  margin-top: 8px;
}


