.cart {
  position: sticky;
  top: 64px;
}

.cart__list {
  overflow-y: auto;
  max-height: 60vh;
  margin-bottom: 16px;
  padding-bottom: 16px;
}

.cart__item {
  width: 100%;
}

.cart__total.MuiTypography-root {
  font-size: 16px;
  font-weight: 500;
  padding: 16px;
  line-height: 1;
}
